*::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0,100px;
    color:white;
    font-size: smaller;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30%,0;
    cursor: pointer;
    gap: 30px;
    padding: 15px,20px;
    width: 100%;
}
.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: black;
}
.nav .logo b{
    color:rgb(255, 208, 0);
}
.nav ul{
    display:flex ;
    list-style: none;   
}
.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px; 
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color:rgb(255, 208, 0);
    display: flex;
    position: relative;
    margin-left: 10px;
}
input{
    cursor: pointer;
    font-weight: 600;
    padding:10px;   
}
.signin{
    color: white;
    border: none;
    outline: none;
    background-color: blue;    
}
.signup{
    background-color: rgb(255, 208, 0);
    color: white;
    outline: none;
    border: none;   
}
body{
    background-image: url(/ASSET/360_F_1695039929_FpdDyveHLpaiBnRoxjMDhqru5UEDbX1Z.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
body{
    background-image: url(IMAGES/diy-solar-oven-cooking-bread.jpg);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    height: 100%;
    
    

}

.Text button {
    background-color: green;
    color:white;
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    margin: 20px,10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.Contact Us{
    background-image: url(IMAGES/Lightbox_large.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-bottom:200px ;
    width: 100%;

}
.flex-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.row1 .row2{
    display: flex;
    gap: 20px;
}
.row1 img{
flex: 1;
height: 200px;
object-fit: cover;
border-radius: 8px;
box-shadow: 0 4px 8px lightgrey;
transition: transfrom 0.3s ease;
gap: 20px;
}
.row2 img{
flex: 1;
height: 200px;
object-fit: cover;
border-radius: 8px;
box-shadow: 0 4px 8px lightgrey;
transition: transfrom 0.3s ease;
gap: 20px;
}



.row1 image:hover{
transform: scale(1.05);
box-shadow:  0 6px 12px, lightgrey;
}
.row2 image:hover{
transform: scale(1.05);
box-shadow:  0 6px 12px, lightgrey;
}


*{
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Trebuchet MS';
    
}
.Text{
    width: 100%;
    margin: 0;
    margin: 30px,0;
    background-position: center;
}
.Text .content h2{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.icon{
    vertical-align:bottom ;
}
Text h2 {
    color:black;
}
.text p{
    color:white;
    font-size: small;
}

.Text button {
    background-color: green;
    color:white;
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    margin: 20px,10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
 .Content div img{
    width: 900px;
    height: 500px;
    text-align: center;
    margin-left: 200px;

}
.Content p, div p{
    color:blue;
    font-size: 20px;
    justify-content: space-between;
    margin-right: 20px;
    margin-left:20px
}
.Content p{
    color: white;
}
.text h1{
    font-size: 20px;
    padding: 30px;
    text-align: center;
}
.text {
    width: 100%;
    margin: 0;
}
.text h2{
    font-size: 10px;
    padding: 10px;

}
.text h3{
    font-size: 7px;
    padding: 5px;
    text-align: center;
}
.nav ul li a{
    text-align:right;
}

.Gallary{
    background: skyblue;
}

.Gallary .images h1 {
    font-size: 40px;
    padding: 10px;
    text-align: center;
    color: black;
}
.Gallary p{
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.Text .about{
    background:skyblue;
}


.about h1{
    text-align: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    margin: 10px,0;
    font-size: 20px;
    padding: 20px,0;
    color: black;
}
.about h2{
    color:black;
    font-size: large;
    padding: 10px, 0;
    text-align: center;
}
.US{
    background: skyblue;
}
.about{
    background: rgb(0, 229, 255);
}
.about p{
    font-size: 20px;
    color: blue;
    text-align: center;
}
.about h3{
    font-size: 50px;
    text-align: center;
    color: blue;
}
.Description div video{
    width:70%;
    height: 400px;
    object-fit: cover;
    gap:10px;
    margin-right: 30px;
    margin-left: 30px;
}
.Description h3{
    font-size: 30px;
    text-align: center;
    color: blue;

}
.Description ul li{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    font-family: sans-serif;
    font-size: 17px;


}
.about ul li{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    font-family: sans-serif;
    font-size: 17px;
}
.about img{
    width: 50%;
    height: 200px;
    text-align: center;
    gap: 15px;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 40px;
    padding: 20px,20px,20px;
}



















   



















.content{
    text-align:center;
}
.container form{
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 10px;
}
.container button{
    width:100px;
    background-color: green;
    color:black;
    padding: 9px;
    border-radius: 4px;
    font-size:9px;
    margin-left: 9px;
    margin-bottom: 9px;
    cursor:pointer;
}
footer{
    background:grey;
    padding-top: 50px;
}
.container h2 {
    width:70px;
    margin: auto;
    padding: 10px;
    color: blue;
    font-size: 30px;
    text-align: center;
    

}
.container h2 {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    
}
.container p{
    font-size:50px;
    padding: 10px;
    font-size: 30px;
    color: black; 
    text-align: center;
    color: black;
}

.footer {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black;
}
.footer-content{
    width: 33.3%;

}
 .footer h2{
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;

}
.footer p{
    color: black;
}
.footer .content p{
    width: 190px;
    margin: auto;
    padding: 7px;
    color: black;
}
.footer .content ul{
    text-align: center;
}
.list{
    padding: 0%;
}
list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li ::before{
    content: '';
    position: absolute;
    transform: translate(-50px,-50px);
    left: 50%;
    top: auto;
    width: 0;
    height: 2px;
    background-color: grey;
    transition-duration:.5%;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;

}
.social-icons li a{
    display: inline-block;
    text-align: center;
    padding: 5px;


}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color:black;
    font-size: 25px;
}
*{
     text-decoration:none;
}
a:hover{
    color:yellow;
}
.social-icons i:hover{
    color: yellow;
}
.bottom-bar{
    background: yellow;
    text-align: center;
    padding: 0%10px,0;
    margin-top: 50px;
}
 .footer.bottom-bar p{
    color: yellow;
    margin: 0;
    font-size: 16px;
    padding:7px ;
}

 .Text{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
        
    }
/*Responsiveness*/
@media(max-width:768px){
    .nav ul{
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    .nav ul li{
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    .nav ul li a{
        font-size: 16px;
        padding: 10px 0;
        display: block;
    }
    .nav .logo h1{
      font-size: 20px;
      margin-bottom: 10px;
      flex-direction: row;
    }
    .nav .logo b{
       font-size: 20px;

    }

input{
       width: 100%;
        padding: 12px;
        margin: 5px 0;
        box-sizing: border-box;
}
}
@media(max-width:768px){
    .container form{
       margin-left: 10px;
       margin-right: 10px;
       padding: 15px;
    }
    .container button{
        margin-left: 0;
        font-size: 10px;
        padding: 12px;
        height: 40px;
         
    }
}
@media screen and(max-width:768){
    .footer{
        max-width: 100%;
        width: 100%;
        margin: 0;
        gap: 10px;
        flex-direction: column;
    }
    .footer-content{
        padding: 5px 10px;
    }
    .footer h2{
        font-size: 18px;
    }
    .footer .content p{
        width: 90%;
        max-width: 300px;
    }
    .footer.list li{
        padding: 8px;
        font-size: 14px;
        width: 100%;
    }
    .social-icons{
        padding: 10px 0;
    }
}
@media(max-width:768){
    .Gallary .images h1{
        flex-direction: column;
        margin: 0;
        
    }
    .row2{
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    }
}
    
